/(2024)5DATA002W.2_MachineLearningDataMining_Coursework_Setting_Student_Document_Revised(25012025v.6)(1).pdf
/1 (1).png
/1(1).png
/1(2).png
/1(3).png
/1.jpg
/1.mp4
/1.png
/10(1).png
/10(2).png
/10(3).png
/10.png
/1000_F_409759422_3or59K4Y3lTD6xtaMMsAix9eiTyFNcnG.jpg
/11(1).png
/11(2).png
/11(3).png
/11.png
/12(1).png
/12(2).png
/12(3).png
/12.png
/13(1).png
/13.png
/14.png
/15.png
/16.png
/1655164814943.jfif
/17.png
/2(1).png
/2(2).png
/2(3).png
/2(4).png
/2.mp4
/2.png
/2025-07-06 10-06-14 (1).mp3
/2025-07-06 10-06-14.mp3
/2025-07-12 13-02-38.mp3
/22a805138490827.621e7f9b3555e.webp
/3(1).png
/3(2).png
/3(3).png
/3(4).png
/3.mp4
/3.png
/3cfa34331559023186e0d0498ff38329.mp4
/4(1).png
/4(2).png
/4(3).png
/4(4).png
/4.png
/494531937_1381455336500489_255552056096439671_n.jpg
/495880605_1381455266500496_9113984315640730415_n.jpg
/5(1).png
/5(2).png
/5(3).png
/5(4).png
/5.png
/6(1).png
/6(2).png
/6(3).png
/6.png
/7(1).png
/7(2).png
/7(3).png
/7.png
/8(1).png
/8(2).png
/8(3).png
/8.png
/9(1).png
/9(2).png
/9(3).png
/9.png
/Add a heading (1).png
/Add a heading (2).png
/Add a heading (3).png
/Add a heading (4).png
/Add a heading.png
/Add a heading.zip
/Adhiran- Official Trailer_ Sudharshan _ Michelle Dilhara _ Thinesh Kanagaraj _ Sagishna Xavier.mp4
/Adobe 2025
/Adobe 2025.zip
/Adobe.Photoshop.2025.u5.Multilingual.TestNoPopup.iso
/Assignment - History of the Computer.pdf
/AZ-900 Cert.pdf
/AZ-900 Certification.jpg
/Azure App Service for Web & API Hosting.png
/Bird Image.png
/Black and White Simple Elegant Business Card.png
/BraveBrowserSetup-BRV010.exe
/Capture-removebg-preview.png
/Capture.PNG
/Capture2.PNG
/Capture3 (1).png
/Capture3.PNG
/ChromeSetup.exe
/CineSubz.com - Kabir Singh (2019) 480p Hindi Proper HDRip.mp4
/cloth_shop (5).sql
/COMP50017 Web Dev Spec 1.docx
/Composer-Setup.exe
/composer.phar
/Copy of Add a heading (1).png
/Copy of Add a heading.png
/Copy of Add a heading.zip
/Copy of Copy of Add a heading (1).zip
/Copy of Copy of Add a heading.png
/Copy of Copy of Add a heading.zip
/Copy of Copy of Copy of Add a heading (1).png
/Copy of Copy of Copy of Add a heading (2).png
/Copy of Copy of Copy of Add a heading.png
/Copy of Copy of Copy of Add a heading.zip
/CursorUserSetup-x64-0.47.8.exe
/Data_Understanding_and_Preprocessing.ipynb
/deepseek_html_20250719_6a9d28 (1).html
/desktop.ini
/Devi Kusumasana _ Official Trailer with English Subtitles _ Releasing on May 22.mp4
/Driving Licence Back.jpeg
/Driving Licence Front.jpeg
/E4nQyKzVUAIPsMg.jfif
/earth-day-and-world-environment-day-spring-tropical-tree-leaves-and-branch-with-beautiful-green-forest-background-generate-ai-free-photo.jpg
/ENGAGEMENT#INSTA#REELS#KSHEMA_SAVAN#2022(256k).mp3
/env
/fam.png
/FB_IMG_1750685116311.jpg
/fudaydkaOldr ÿre ù O¾udf,dalfhka is;a i;ka wdf,dalu;a jk mskanr fmdfidka fmdfydh Èkhla fõjd¡¡æ.zip
/full_sociology_lecture_note.txt
/gfx_win_101.2135.exe
/Git-2.49.0-64-bit.exe
/History of the Computer.pdf
/ICT Basics – A Practical Introduction.pdf
/ilovepdf_pages-to-jpg
/ilovepdf_pages-to-jpg.zip
/image.png
/image111.png
/images.png
/in cover.png
/Introduction to Azure for Product Development.png
/KMPlayer_4.2.3.21.exe
/lecnote.txt
/Linkedin Apeal.pdf
/mongosh-2.5.3-x64.msi
/nic.pdf
/Nifty-look
/Nifty-look-virtual.zip
/Nifty-look.zip
/node-v20.19.0-x64.msi
/officialkmspico.com-KMSpico-setup
/officialkmspico.com-KMSpico-setup.zip
/Online (1).png
/Online (2).png
/Online (3).png
/ONLINE (4).png
/Online.png
/Paper.pdf
/peper fromat[1].pdf
/pexels-joseph-phillips-2044494-3839570.jpg
/ph.jpeg
/ph.png
/php-8.2
/php-8.2.29-nts-Win32-vs16-x64.zip
/pngtree-blackboard-education-light-bulb-green-simple-advertising-background-picture-image_1612402.jpg
/pngtree-purple-minimalist-watercolor-education-background-picture-image_1288408.jpg
/postgresql-17.5-1-windows-x64.exe
/Postman-win64-Setup.exe
/receipt-5DATA001C.2.2024-Mock ICT 1.txt
/Resources LMS Website WPSinhala.zip
/response_1741539964653.html
/sample pager.jpeg
/sample pager.pdf
/sci-fi-artificial-intelligence-tech-concept-background-design_1017-50175-modified.png
/sci-fi-artificial-intelligence-tech-concept-background-design_1017-50175.avif
/Session 1 - Tutor HandBook.pdf
/shuttle-time.html
/Sociology - Lecture Note.pdf
/Sociology Assignment.pdf
/Sociology Lecture Notes.pdf
/sociology_lecture_note.txt
/sociology_questions.pdf
/sociology_questions.txt
/song list
/spark-of-inspiration(chosic.com).mp3
/SQL2022-SSEI-Dev.exe
/SSMS-Setup-ENU.exe
/Stremio+4.4.168.exe
/Telegram Desktop
/tiktok_1752849098211.mp4
/tiktok_1752872567364.mp4
/TypeWriter-_Sound_Effect__Final_Cut_(256k).mp3
/Uni-Mate
/Uni-Mate.zip
/Untitled design.png
/Untitled-1.psd
/videoplayback.mp4
/VisualStudioSetup.exe
/VSCodeUserSetup-x64-1.96.4.exe
/Web Development Short Course Outline.pdf
/web_development_course_outline_fixed.pdf
/Wedding Videos-20250202T160536Z-001.zip
/wetransfer_0o5a3310-copy-jpg_2025-01-30_1836.zip
/WhatsApp Audio 2025-07-13 at 15.22.22.mp4
/WhatsApp Audio 2025-07-17 at 09.37.43 (1).mp4
/WhatsApp Audio 2025-07-17 at 09.37.43.mp4
/WhatsApp Audio 2025-07-17 at 09.53.40-enhanced-v2.wav
/WhatsApp Audio 2025-07-17 at 09.53.40.mp3
/WhatsApp Audio 2025-07-17 at 09.53.40.mp4
/WhatsApp Audio 2025-07-18 at 20.21.21.mp4
/WhatsApp Audio 2025-07-19 at 01.52.25.mp4
/WhatsApp Audio 2025-07-19 at 02.34.06 (1).mp4
/WhatsApp Audio 2025-07-19 at 02.34.06.mp4
/WhatsApp Image 2025-07-11 at 10.31.06.jpeg
/WhatsApp Image 2025-07-11 at 10.31.57.jpeg
/WhatsApp Image 2025-07-11 at 10.32.02.jpeg
/WhatsApp Image 2025-07-12 at 15.27.53.jpeg
/WhatsApp Unknown 2025-07-11 at 11.27.26.zip
/WhatsApp Video 2025-07-17 at 09.36.57.mp4
/WhatsApp Video 2025-07-17 at 09.36.58.mp4
/xampp-windows-x64-8.0.30-0-VS16-installer.exe
/xampp-windows-x64-8.2.12-0-VS16-installer.exe
/Your paragraph text (1).zip
/Your paragraph text.zip
/~$MP50017 Web Dev Spec 1.docx
/úIhka 5u.zip